.main {
    font-family: 'Montserrat', sans-serif;
    background-color: #60b277fb;
    height: 100vh;
    position: relative;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

.top-c {
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    gap: 180px;
    font-size: small;
}

.navbar {
    position: relative;
    height: 70px;
    width: 100%;
    display: flex;
    z-index: 100;
    gap: 40px;
    justify-content: space-between;
}

.navbar img {
    width: 150px;
    height: 35px;
}

.par {
    position: relative;
}

.nav-btngroup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-flow: row;
    width: 50px;
    flex: 1;
}

.content {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.left {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.v-text {
    transform: rotate(90deg);
    color: white;
    white-space: nowrap;
    line-height: 0.5;

}

.v-text span {
    display: inline-block;
    position: relative;
}

.v-text span:before,
.v-text span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    top: 0;
    width: 200px;
}

.v-text span:before {
    right: 100%;
    margin-right: 15px;
}

.v-text span:after {
    left: 100%;
    margin-left: 120px;
}

.soc-icons {
    transform: rotate(-90deg);
}

.left p {
    width: 60%;
    color: white;

}

.head {
    position: relative;
}

.head h1 {
    font-size: larger;
}

.right {
    position: relative;
    width: 50%;
    height: 100%;
}

.right img {
    position: absolute;
    background-size: cover;
    background-attachment: fixed;
    width: 1000px;
    height: 1400px;
    margin-top: -140px;
    /* max-width: 810px; */
    /* transform: scale(1.35); */
    top: 0;
    right: 0;
}

.more {
    display: flex;
    gap: 20px;
}

.about {
    position: relative;
    height: 100vh;
    width: 100%;
}

.abt-head {
    display: flex;
    justify-content: center;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-left {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.about-left img {
    height: 300px;
    width: 300px;
}

.about-right {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about-right p {
    width: 400px;
    margin-top: 50px;
}

.content-btn {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1130px) {
    .top-c {
        gap: 100px;
    }

    .navbar {
        gap: 0px;
        justify-content: space-between;
    }

    /* .v-content{
        display: flex;
        justify-content: center;
    } */
}


@media screen and (max-width: 1000px) {
    .top-c {
        display: none;
    }

    .nav-btngroup {
        display: none;
    }

    .right {
        display: none;
    }

    .navbar button {}

    @media screen and (max-width: 700px) {
        .about-content {
            display: grid;
            justify-items: center;
        }

        .p {
            display: grid;
            justify-items: center;
        }

        .more {
            display: grid;
            justify-items: center;
        }

        .about {
            height: 150vh;
        }

        .head p {
            font-size: small;
        }
        .abt-head h3{
            padding: 20px;
            font-size: medium;
            font-weight: bold;
        }

        .about-right p {
            width: 600px;
        }


    }

}